*{
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
}
.Header{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #f57e20;
    z-index: 5;
}
.Sidebar{
    position: absolute;
    width: 100%;
    background-color: #07b00d;
    height: 100vh;
    padding-top: 50px;
}
.Sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Sidebar ul li{
    padding: 20px 10px;
    border-bottom:1px solid #ffffff;
    text-align: center;
}
.Sidebar ul li a{
    color: #ffffff;
    text-decoration: none;
}
.Main-content{
    padding-top: 50px;
    background-attachment: fixed;
}
.container-fluid{
    padding-top: 10px;
}
@media screen and (min-width: 576px) {
    .Sidebar{
        width:50px ;
    }
.Sidebar ul li span:nth-child(2){
    display: none;
}
.Sidebar ul li i{
    font-size: 20px;
}
.Sidebar ul li{
    text-align: center;
}
.Main-content{
    margin-left: 50px;
}
}
@media screen and (max-width: 575.98px) {
    .Sidebar{
        width:50px ;
    }
.Sidebar ul li span:nth-child(2){
    display: none;
}
.Sidebar ul li i{
    font-size: 20px;
}
.Sidebar ul li{
    text-align: center;
}
.Main-content{
    margin-left: 50px;
}
}
@media screen and (min-width: 768px) {
    .Sidebar{
        width:100px ;
    }
.Sidebar ul li span:nth-child(2){
    display: none;
}
.Sidebar ul li i{
    font-size: 30px;
}
.Sidebar ul li{
    text-align: center;
}
.Main-content{
    margin-left: 100px;
}
}
@media screen and (min-width: 922px) {
    .Sidebar{
        width:200px ;
    }
.Sidebar ul li span:nth-child(2){
    display: inline;
}
.Sidebar ul li i{
    font-size: 20px;
}
.Sidebar ul li{
    text-align: left;
}
.Main-content{
    margin-left: 200px;
}
.card-body{
    width: 500px;
}
}
@media screen and (min-width: 1200px) {
    .Sidebar{
        width:200px ;
    }
.Sidebar ul li span:nth-child(2){
    display: inline;
}
.Sidebar ul li i{
    font-size: 20px;
}
.Sidebar ul li{
    text-align: left;
}
.Main-content{
    margin-left: 200px;
}
.card-body{
    width: 20px;
}
.col-lg-3{
    padding-top: 10px;
}

}
